.cover{
  position: absolute;
  top:0;
  left:0;
  margin: 0px;
  padding: 0px;
  z-index: 10;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#title {
  position: relative;
  z-index: 5;
}

#content {
  position: relative;
  padding: 0px;
  min-height: 89%;
  height: 89%;
}

.clickable {
  cursor: pointer;
}