ul {
  width: inherit;
}
li{
  width: inherit;
  margin: 10px 0px;
  display: block;
  float: left;
  clear: left;
}

.full-width {
  min-width: 100%;
}

.transaction-options button{
  width: 100%;
  font-size: 1em;
  padding: 1rem;
}