#data-collect-form {
  position: relative;
  z-index: 10;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

#form {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 70%;
}

#form header{
  padding: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}

#form form {
  margin: 1rem;
}

#form form input{
  width: 70%;
}

@media only screen and (max-width: 767.98px) {
  #form {
    width: 95%;
    margin-bottom: 200px;
  }

  #form form input{
    width: 100%;
  }
}